@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.font-stretched {
  font-stretch: 350%;
}

.active {
  border: 2px solid #ff3600;
  padding: 6px 20px;
  border-radius: 20px;
}