@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
import 'aos/dist/aos.css';

.font-stretched {
  font-stretch: 350%;
}
.font-semi-stretched {
  font-stretch: 120%;
}

.active {
  border: 1px solid #ff3600;
  padding: 4px 20px;
  border-radius: calc(infinity * 1px);
}